@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@theme {
    --font-sans: 'Oswald';
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-charcoal: #0A0A0C;
    --color-charcoal-light: #17171A;

    --color-tactical-gray: #1A1D21;

    --color-steel-gray: #E2E5E9;
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    * {
        font-family: 'Oswald', sans-serif;
    }
}

@layer components {
    .card {
        @apply bg-charcoal-light text-steel-gray shadow-lg rounded-lg overflow-hidden p-2;
    }

    .btn {
        @apply px-4 py-2 rounded-lg shadow-md text-sm;
    }
}
